@using Amsystem.Data.Entities
@model IEnumerable<Agreement>

@{
    ViewBag.Title = "Agreement";
}

<h2>Agreements</h2>

<p>@Html.ActionLink("Create new", "AddAgreement", "Agreement", null, new { @class = "btn btn-success" })</p>
<br />

<table class="table table-bordered table-striped table-hover">

    <thead>
        <tr>
            <th>Description</th>
            <th>Observation</th>
            <th>Observation</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var agreement in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(agreementItem => agreement.Description)
                </td>
                <td>
                    @Html.DisplayFor(agreementItem => agreement.Observation)
                </td>
                <td>
                    @Html.DisplayFor(agreementItem => agreement.DueDate)
                </td>
            </tr>
        }
    </tbody>

</table>
