@using Amsystem.Data.Entities
@model IEnumerable<Agreement>

@{
    ViewBag.Title = "Agreement";
}

<h2>Agreements</h2>

<table class="table">

    @foreach (var agreement in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(agreementItem => agreement.Id)
            </td>
            <td>
                @Html.DisplayFor(agreementItem => agreement.Description)
            </td>
            <td>
                @Html.DisplayFor(agreementItem => agreement.Observation)
            </td>
        </tr>
    }

</table>

