@using Amsystem.Data.Entities
@model Agreement

@{
    ViewBag.Title = "Edit Agreement";
}

<h2>Edit Agreement</h2>
<hr/>

@* A form for editing an agreement *@
@Html.EditorForModel(Model)

<div>
    <a href="@Url.Action("AllAgreement")" title="Back to Agreements" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>
